<h1>Babysitters Stats</h1>

<h3>Ratings Leaderboard</h3>
<ol>
    <% @babysitters_by_rating.each do |babysitter| %>
        <li>
            <h4><%= babysitter.name %> - <%= babysitter.rating %>/5</h4>
            <small>Average score from <%= pluralize(babysitter.rated_bookings.count, "rated Booking") %> (from <%= pluralize(babysitter.bookings.count, "Booking") %> in total)</small>
        </li>
    <% end %>
</ol>