<h1>Hello <%= current_user.full_name %></h1>
<% if @children.empty? %>
    <h4>Your Family is currently empty</h4> 
    <p>You must <%= link_to "add a Child to your Family", new_parent_child_path(current_user) %> to make Bookings</p>
<% else %>
    <h4>Your Family is currently,</h4>
    <ul>
        <% @children.each do |child| %>
            <li>
                <%= link_to child.name, child_path(child)%>
            </li>
        <% end %>
    </ul>
    <em><p>Select a Child to view, make, and edit Bookings</p></em>
    <p><%= link_to "Add a Child to your Family", new_parent_child_path(current_user) %></p>
<% end %>
<br>