<h2>New Booking for <%=@booking.child.name %></h2>
<%= render partial: "layouts/errors", locals: {instance: @booking} %>
<%= render "form" %>
<br>
<h3>Can't find your Babysitter's details?</h3>
<h4><%= link_to "Create a new Babysitter", new_babysitter_path %></h4>

